n8n/workflows/trend-rank-recalc.json
{
  "name": "트렌드 순위 자동 재계산",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "매일 자정 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MCP_SERVER_URL }}/api/admin/memes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.ADMIN_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-all-memes",
      "name": "전체 밈 데이터 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// popularity 기반으로 trendRank 재계산\nconst memes = $input.item.json.data || $input.item.json;\n\nif (!Array.isArray(memes)) {\n  return [{ json: { error: 'Invalid data format' } }];\n}\n\n// popularity 내림차순 정렬\nconst sortedMemes = [...memes].sort((a, b) => {\n  return (b.popularity || 0) - (a.popularity || 0);\n});\n\n// trendRank 할당 (1이 최상위)\nconst memesWithNewRank = sortedMemes.map((meme, index) => {\n  return {\n    ...meme,\n    newTrendRank: index + 1,\n    rankChanged: meme.trendRank !== (index + 1)\n  };\n});\n\n// rank가 변경된 밈만 필터링\nconst changedMemes = memesWithNewRank.filter(m => m.rankChanged);\n\nreturn changedMemes.map(meme => ({\n  json: {\n    id: meme.id,\n    name: meme.name,\n    currentTrendRank: meme.trendRank,\n    newTrendRank: meme.newTrendRank,\n    popularity: meme.popularity\n  }\n}));"
      },
      "id": "calculate-trend-rank",
      "name": "순위 재계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-changes",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-changes",
      "name": "변경사항 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-changed-memes",
      "name": "변경된 밈 순회",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.MCP_SERVER_URL }}/api/admin/memes/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"trendRank\": {{ $json.newTrendRank }},\n  \"updatedAt\": \"{{ $now.toISO().split('T')[0] }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.ADMIN_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "update-trend-rank",
      "name": "trendRank 업데이트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ 트렌드 순위 자동 재계산 완료\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*트렌드 순위 자동 재계산 완료*\\n\\n{{ $json.name }}: {{ $json.currentTrendRank }}위 → {{ $json.newTrendRank }}위 (popularity: {{ $json.popularity }})\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-notification",
      "name": "알림 전송 (선택)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "notes": "Slack 알림은 선택사항입니다. 환경변수 SLACK_WEBHOOK_URL이 없으면 이 노드는 건너뜁니다."
    }
  ],
  "connections": {
    "매일 자정 트리거": {
      "main": [[{ "node": "전체 밈 데이터 조회", "type": "main", "index": 0 }]]
    },
    "전체 밈 데이터 조회": {
      "main": [[{ "node": "순위 재계산", "type": "main", "index": 0 }]]
    },
    "순위 재계산": {
      "main": [[{ "node": "변경사항 확인", "type": "main", "index": 0 }]]
    },
    "변경사항 확인": {
      "main": [
        [
          {
            "node": "변경된 밈 순회",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "trendRank 업데이트",
            "type": "main",
            "index": 0,
            "notes": "변경사항이 없을 때"
          }
        ]
      ]
    },
    "변경된 밈 순회": {
      "main": [[{ "node": "trendRank 업데이트", "type": "main", "index": 0 }]]
    },
    "trendRank 업데이트": {
      "main": [[{ "node": "알림 전송 (선택)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T00:00:00.000Z",
  "versionId": "1"
}
